In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\PAWAN\\Downloads\\Project+2+-+Cars+Dataset.csv")
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

## 1. Data Understanding

What is the shape of the dataset (rows Ã— columns)?

In [3]:
data.shape

(432, 15)

What are the data types of each column (categorical, numerical, etc.)?

In [7]:
data.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

Are there missing values? How many per column?

In [8]:
data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

Are there duplicate rows or columns?

In [11]:
data.duplicated().sum()

np.int64(3)

What is the summary of numerical columns (mean, median, min, max, std)?

In [12]:
data.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

What is the distribution of categorical variables (e.g., car Make, Type, Origin)?

In [14]:
data.select_dtypes(include="object").columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice'], dtype='object')

In [21]:
for i in data.drop(columns=["Invoice"]).select_dtypes(include="object").columns:
    
    print(f"{i}: {data[i].nunique()}")

Make: 38
Model: 425
Type: 6
Origin: 3
DriveTrain: 3
MSRP: 410

In [20]:
for i in data.select_dtypes(include="object").columns:
    
    print(data[i].value_counts())

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Volvo            12
Hyundai          12
Jaguar           12
Subaru           11
Kia              11
Pontiac          11
Mazda            11
Lexus            11
Buick             9
Mercury           9
Lincoln           9
Cadillac          8
GMC               8
Saturn            8
Suzuki            8
Infiniti          8
Acura             7
Saab              7
Porsche           7
Land Rover        3
Oldsmobile        3
Jeep              3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: count, dtype: int64
Model
G35 4dr                             2
C240 4dr                            2
C320 4dr                            2
RSX Type S 2dr                      1
TSX 4dr                             1
                                   ..
RS 6 4dr                            1
TT 1.8 convertible 2dr (coupe)      1
TT 1.8 Quattro 2dr (convertible)    1
TT 3.2 coupe 2dr (convertible)      1
A4 3.0 4dr                          1
Name: count, Length: 425, dtype: int64
Type
Sedan     262
SUV        60
Sports     49
Wagon      30
Truck      24
Hybrid      3
Name: count, dtype: int64
Origin
Asia      158
USA       147
Europe    123
Name: count, dtype: int64
DriveTrain
Front    226
Rear     110
All       92
Name: count, dtype: int64
MSRP
$34,495     2
$23,495     2
$28,495     2
$13,270     2
$49,995     2
           ..
$37,390     1
$40,590     1
$40,840     1
$49,090     1
$35,145     1
Name: count, Length: 410, dtype: int64
Invoice
$19,638     2
$68,306     2
$14,207     2
$33,112     1
$33,337     1
           ..
$76,417     1
$32,512     1
$33,891     1
$36,739     1
$28,846     1
Name: count, Length: 425, dtype: int64